/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* USER STYLES */

@font-face {
  font-family: "SF Pro";
  src: url(./assets/fonts/SF-Pro-Text-Regular.otf);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "SF Pro", Helvetica, sans-serif;
  padding: 20px 0px 100px 0px;
  background-image: url(/src/assets/images/background.jpg);
  background-size: cover;
}

.navbar {
  padding: 4px;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  border: 1px solid lightgray;
  border-radius: 35px;
  color: white;
}

.navbar > li {
  padding: 10px 20px;
  border-radius: 45px;
  cursor: pointer;
}

.images {
  display: flex;
  gap: 120px;
}

.images > img {
  width: 210px;
  height: auto;
  opacity: 85%;
}

.code-block {
  font-family: monospace;
  padding: 30px 50px;
  font-size: 16px;
  border-radius: 45px;
  color: white;
}

.code-block:hover {
  cursor: pointer;
}

/* UTILITY */

.glass {
  background: rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  border: 0.5px solid rgba(255, 255, 255, 0.34);
}

.dark-glass {
  background: rgba(0, 0, 0, 0.35);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  border: 0.5px solid rgba(255, 255, 255, 0.34);
}

.darker-glass {
  background: rgba(0, 0, 0, 0.55);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  border: 0.5px solid rgba(255, 255, 255, 0.34);
}

.dark-glass:hover {
  background: rgba(0, 0, 0, 0.55);
}
